.Login {

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        color: var(--primary-color);
        text-align: center;
        margin-bottom: 20px;
        h1 {
            margin-bottom: 10px;
            font-size: 24px;
        }
        p {
            color: #cfcfcf;
            font-size: 14px;
        }
    }
    .ant-form-item {
        margin-bottom: 20px;
    }
    .login-form-button {
        background-color: var(--primary-color);
        width: 100%;
    }
    .site-form-item-icon {
        color: var(--primary-color);
    }
}