html, body {
   height: 100%;
   width: 100%;
   display: flex;
}

#root {
    --primary-color: #22ac38ff;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

h1, p {
    margin: 0;
    font-weight: 400;
}